@import url('https://fonts.googleapis.com/css?family=Dosis');


body{
  background: url('http://i.imgur.com/8XCgxG1.jpg');
  background-color: white !important;
  background-size: cover;
  text-align: center;
}

#A{
  font-family: 'Dosis', sans-serif;
  margin-top: 65%;
}

#B h1{
  color: red;
}

p{
  font-size: 18px;
  margin-top: 10px;
}
