@import url('https://fonts.googleapis.com/css?family=Dosis');


body{
  background: url('http://i.imgur.com/8XCgxG1.jpg');
  background-color: white !important;
  background-size: cover;
  text-align: center;
}

/* ----- STYLING FOR SIGN IN AND REGISTRATION PAGE */
#A, #B{
  font-family: 'Dosis', sans-serif;
  margin-top: 65%;
}

.margin{
  margin-bottom: -1px !important;
}


p{
  font-size: 18px;
  margin-top: 10px;
}
