@import url('https://fonts.googleapis.com/css?family=Dosis');
@import url('https://fonts.googleapis.com/css?family=Abel|Droid+Sans|Hind|Quicksand');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body{
  background-repeat: no-repeat;
  background-size: cover cover;
  background-position: center center;
  text-align: center;
}

/* ----- STYLING FOR SIGN IN AND REGISTRATION PAGE --------- */
.icon{
  background: url('http://i.imgur.com/8XCgxG1.jpg');
}
#A, #B{
  font-family: 'Dosis', sans-serif;
  margin-top: 50%;
}

.margin{
  margin-bottom: -1px !important;
}

p{
  font-size: 18px;
  margin-top: 10px;
}


/* ------ STYLING FOR THE NAVIGATION BAR -------- */
#C{
  position: fixed;
  bottom: 0;
  background-color: rgb(33, 47, 60);
}

.wrap{
  display: flex;
  width: 100%;
}

#C i{
  width: 25%;
  color: white;
}

#C a{
  width: 25%;
  padding-top: 4%;
  padding-bottom: 4%;
}

/*---------------------- STYLING FOR THE HEADER ---------------------- */
#header{
  width: 100%;
  top: 0;
  position: fixed;
  color: white;
  font-family: 'Hind', serif;
  text-transform: uppercase;
  font-size: 30px;
  background-color:  rgb(40, 55, 71);
  box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.3);
}

#header h1{
  text-align: center;
  font-size: 25px;
}

/*------ STYLING FOR THE USER IMAGE------- */
#D{
  margin-top: 0;
  padding-top: 30%;
  background-color: #D6DBDF;
  position: fixed;
  width: 100%;
  height: 30%;
  z-index: -1;
}


#D img{
  width: 40%;
  border-radius: 100px;
  border: 10px white solid;
}


/*------------------------ STYLING FOR THE USER PROFILE ------------------------ */

/* USER INFORMATION GOES HERE */
#E p{
  font-family: 'Abel', sans-serif;
  font-size: 15px;
  text-align: left;
  padding-left: 15%;
  padding-right: 10%;
  color: #2E4053;
  line-height: 30px;
}

#E i{
  width: 10%;
}

#E ul{
  color: rgb(40, 55, 71);
  font-family: 'Abel', sans-serif;
  text-align: left;
  padding-left: 25%;
  margin-top: -3%;
}


/* ------------------------STYLING FOR THE INTEREST INPUT FIELD  ------------------------*/
#G{
  margin-top: 30%;
  padding-left: 15%;
  padding-right: 15%;
}

#G h2, #H h2{
  color: rgb(40, 55, 71);
  font-family: 'Abel', sans-serif;
  font-size: 20px;
}

#G input, #H input{
  border: none;
  margin-top: 3%;
  background-color: rgba(0,0,0,0.1);
  font-family: 'Abel', sans-serif;
  color: rgb(40, 55, 71);
  width: 100%;
  padding: 2%;
}

#G button, #H button{
  color: white;
  background-color: rgba(40, 55, 71,0.8);
  border: none;
  margin-top: 3%;
  width: 100%;
  padding: 2%;
  font-family: 'Abel', sans-serif;
  border-radius: 2px;
}

#G input::placeholder, #H input::placeholder{
  color: rgba(40, 55, 71,0.3);
}

#G p{
  color: rgb(40, 55, 71);
  font-size: 12px;
  font-family: 'Abel', sans-serif;
  font-style: italic;
  margin-top: 3%;

}


/* ------ STYLING FOR THE SETTINGS FIELD  ------- */
#H{
  margin-top: 25%;
  padding-left: 10%;
  padding-right: 10%;
}

#H h2{
  text-align: left;

}
